.parent {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }

  .children-1 {
    width: 90%;
  }

  .children-2 {
    width: 10%;
    align-self: center;
    padding-left: 11px;
  }

  .card {
    width: 90%
  }

  h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .top_todo {
    margin-top: 50px;
  }

  .checkbox {
    width: 10%;
  }

  .item_text {
    width: 80%
  }

  .card-body-item {
    background: blue;
    height: 42px;
    border: 1px solid black;
    padding: 3px;
    margin-top: 5px;
  }

  .button_div {
    width: 10%;
  }

  .todo_single {
    display: flex;
    align-items: center;
  }